.block {
  position: relative;
  min-width: 100%;
  height: 100px;
  margin-top: 20px;
  background-color: grey;
  overflow-x: auto;
}

.timeline {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: red;
  z-index: 1;
  transition-duration: 100ms;
  z-index: 999;
}