.app {
  text-align: center;
}

.primary-button {
  width: 200px;
  height: 60px;
  font-size: 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: cadetblue;
  color: white;
  margin: 40px auto;
}

.primary-button:disabled {
  background-color: #eee;
  color: grey;
}

.video {
  background-color: black;
  margin: 20px auto;
}
